/* @font-face {
    font-family: 'PingFangSC Medium';
    src: local('PingFangSC-Medium'), url('./PingFangSC-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Pro Display Medium';
    src: local('SF-Pro-Display-Medium'), url('./SF-Pro-Display-Medium.otf') format('opentype');
} */

@font-face {
    font-family: 'PingFangSC Regular';
    src: local('PingFangSC-Regular'), url('./PingFangSC-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Regular';
    src: local('SF-Pro-Display-Regular'), url('./SF-Pro-Display-Regular.otf') format('opentype');
}
